*{
    padding:0;
    margin:0;
}

header{
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background-color:black;
}

.nav-ul{
display:flex;
align-items:center;
margin-right:9px;
font-weight:800;
}

.nav-li{
list-style-type:none;
padding:5px
}

.nav-a{
color:white;
text-decoration:none;
}

main{
    color:white;
    background-image:url(poto/tumpukanlogo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:500px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
    
}

.main-form{
    background-color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:30px;
    width:500px;
    border-radius:10px;
}

.input-1{
    height:30px;
    width:450px; 
    border-radius:10px 0px 0px 10px;
    padding-left:2px;
}

.input-2{
    height:35px;
    width:60px;
    border-radius: 0px 10px 10px 0px;
}

#about{
    height:400px;
    background-color:tomato;
    padding-left:8px
}

.cara-download{
    margin-left:6px;
}

.ul-down{
padding:5px;
}

.li-down{
    list-style-type:none;
    margin:5px;
    text-decoration:underline;
}

footer{
    background-color:#141313;
    color:rgb(228, 217, 217);
}