*{
    padding:0;
    margin:0;
}

header{
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
background-color:black;

}

.nav-ul{
display:flex;
align-items:center;
margin-right:9px;
font-weight:800;
}

.nav-li{
list-style-type:none;
padding:5px
}

.nav-a{
color:white;
text-decoration:none;
}

main{
    color:white;
    background-image:url(poto/tumpukanlogo.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    height:550px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.cara-download{
    margin-left:6px;
}

.ul-down{

}

.li-down{
    list-style-type:none;
    margin:5px;
    text-decoration:underline;
}

footer{
    background-color:#141313;
    color:rgb(228, 217, 217);
}